:root {
    --text: #f7f4f4;
    --background: #262626;
    --primary: #86bbe4;
    --secondary: #1e5280;
    --accent: #3b90d9;

}


body {
    background-color: var(--background) !important;
    color: var(--text) !important;
}

h5 {
    color: var(--text) !important;
}

.navbar-brand {
    color: var(--text) !important;
}


a {
    color: #b3b3b3 !important;
}

a:hover {
    color: #e2e2e2 !important
}

a.badge:hover {
    color: #999 !important;
}

.form-text {
    color: var(--text) !important;
}

.bg-dark {
    background-color: var(--background) !important;
}

.color-blue {
    color: #688bbd !important;
}

.btn-outline-primary {
    color: #688bbd !important;
    border-color: #688bbd !important;
}

.btn-outline-primary:hover {
    background-color: #1C1C1E !important;
    color: #fff !important;
}

.page-link {
    color: #688bbd !important;
    border-color: #688bbd !important;
    background-color: #1C1C1E !important;
}

.form-control {
    background-color: #1C1C1E !important;
    border-color: #302F33 !important;
    color: #b3b3b3 !important;
}

.page-content p {
    background-color: var(--background) !important;
    padding: 10px !important;
}